@CHARSET "ISO-8859-1";

.formtable {
	padding: 10px;
	border: solid blue;
	border-width: 1px 1px;
}

input[type=text] {
	width: 250px;
}

textarea {
	width: 250px;
	height: 200px;
}

.label {
	text-align: right;
	vertical-align: top;
}

.control {
	margin-left: 10px;
}
.error{
	font-size: small;
	color: red;
	margin-left: 10px;
}

table.offers{
	padding: 10px;
	border:  solid gray;
	border-width: 1px 1px;
}